:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  position: relative;
  width: 100vw;
  height: 100vh;
  align-items: flex-start;
  background-color: #f5f7f9;
  overflow-y: auto;
  overflow-x: hidden;
}

.pageHeader {
  position: absolute;
  left: 380px;
  top: 80px;
  width: 100%;
  height: 96px;
  align-items: flex-end;
  gap: 16px;
  padding: 0 40px 16px;
  background-color: #f5f7f9;
  backdrop-filter: blur(8px);
}

.leftHeader {
  height: 40px;
  flex: 1;
  flex-direction: column;
  place-content: center;
  gap: 8px;
}

.pageTitle {
  color: #4a5f82;
  font-size: 20px;
  font-weight: 600;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.02em;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.overline {
  color: #5d75a2;
  font-size: 12px;
  line-height: 18px;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.rightHeader {
  width: min-content;
  height: min-content;
}

.breadcrumbs {
  position: absolute;
  left: 420px;
  top: 272px;
  width: 100%;
  height: min-content;
  align-items: center;
  gap: 40px;
  padding: 0 24px;
}

.tableColumnTitle {
  width: 80px;
  height: min-content;
  align-items: center;
  gap: 6px;
}

.status {
  color: #5d75a2;
  font-size: 11px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.icon {
  color: #5d75a2;
  font-size: 14px;
  font-family: Font Awesome 6 Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.tableColumnTitle2 {
  width: 368px;
  height: min-content;
  align-items: center;
  gap: 6px;
}

.status2 {
  color: #5d75a2;
  font-size: 11px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.tableColumnTitle3 {
  width: 120px;
  height: min-content;
  align-items: center;
  gap: 6px;
}

.status3 {
  color: #5d75a2;
  font-size: 11px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.frame8 {
  position: absolute;
  left: 420px;
  top: 310px;
  width: 90%;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.filters {
  position: absolute;
  left: 420px;
  top: 176px;
  width: 980px;
  height: 96px;
  align-items: flex-start;
  padding: 16px 0 0;
  background-color: #f5f7f9e5;
  backdrop-filter: blur(2px);
}

.leftHeader2 {
  width: min-content;
  height: min-content;
}

.assessmentsSidebar {
  position: absolute;
  left: 80px;
  top: 80px;
  width: 300px;
  height: fit-content;
  align-items: flex-start;
}

.sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  height: 944px;
  background-color: #eff1f6;
  box-shadow: 1px 0px 0px 0px #dfe4ec;
}

.sidebarItems {
  position: absolute;
  left: 0;
  top: 56px;
  width: min-content;
  height: auto;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: auto;
}

.frame15 {
  height: min-content;
  align-self: stretch;
  flex-direction: column;
  gap: 8px;
  padding: 0 32px;
}

.sidebarItem {
  height: 48px;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 4px;
}

.icon2 {
  width: 20px;
  height: 20px;
  place-content: center;
  align-items: center;
}

.icon3 {
  color: #aebbd1;
  font-size: 16px;
  font-family: Font Awesome 6 Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 16px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.categoryItem {
  color: #5d75a2;
  font-size: 14px;
  line-height: 20px;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.sidebarItem2 {
  height: 48px;
  align-self: stretch;
  align-items: center;
  gap: 8px;
  padding: 16px;
  border-radius: 4px;
  background-color: #0099991a;
}

.icon4 {
  width: 20px;
  height: 20px;
  place-content: center;
  align-items: center;
}

.icon5 {
  color: #099;
  font-size: 16px;
  font-family: Font Awesome 6 Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 16px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
}

.categoryItem2 {
  color: #099;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.filterItems {
  width: 300px;
  height: min-content;
  flex-direction: column;
  gap: 16px;
  padding: 16px 32px;
}

.assessmentsSidenav {
  position: absolute;
  left: 0;
  top: 80px;
  width: min-content;
  height: 880px;
  align-items: flex-start;
}

.assessmentsSidenav2 {
  width: min-content;
  height: 1000px;
  align-items: flex-start;
  background-color: #fff;
}

.sidebar2 {
  width: 80px;
  height: min-content;
  flex-direction: column;
}

.sideNavToggleCollapsed {
  height: 96px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  padding: 0 24px;
}

.expand {
  width: 32px;
  height: 32px;
  flex-direction: column;
  place-content: center;
  align-items: center;
  outline: solid 1px #eff1f6;
  outline-offset: -1px;
  border-radius: 100px;
}

.navItems {
  margin: auto;
  height: min-content;
  align-self: stretch;
  flex-direction: column;
}

.sideNavItem {
  height: 80px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 25px;
  background-color: #eff1f6;
  overflow: hidden;
}

.sideNavItem2 {
  height: 80px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 25px;
  overflow: hidden;
}

.sideNavItem3 {
  height: 80px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 25px;
  overflow: hidden;
}

.sideNavItem4 {
  height: 80px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 25px;
  overflow: hidden;
}

.sideNavItem5 {
  height: 80px;
  align-self: stretch;
  place-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 25px;
  overflow: hidden;
}

.topNavigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  place-content: space-between;
  align-items: center;
  padding: 16px 40px;
  background-color: #ffffffe5;
  box-shadow: 2px 2px 4px 0px #4a5f821a;
  backdrop-filter: blur(8px);
}

.leftNav {
  width: min-content;
  height: min-content;
  align-items: center;
  gap: 24px;
}

.logo {
  width: 167.998px;
  height: 32px;
}

.icon6 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.separator {
  width: 1px;
  max-width: 100%;
  height: 40px;
  max-height: 100%;
  background-color: #dfe4ec;
}

.productName {
  color: #099;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.rightNav {
  width: min-content;
  height: min-content;
  align-items: flex-start;
}

.topNavItem {
  width: 64px;
  height: 64px;
  place-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  overflow: hidden;
}

.apps {
  width: 24px;
  height: 24px;
  overflow: visible;
}

.icon7 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.topNavItem2 {
  width: 64px;
  height: 64px;
  place-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 6px;
  overflow: hidden;
}

.notificationsNew {
  width: 24px;
  height: 24px;
  overflow: visible;
}

.icon8 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.userMenu {
  width: min-content;
  height: 64px;
  place-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 8px 0 8px 16px;
  border-radius: 6px;
  overflow: hidden;
}

.name {
  width: min-content;
  height: min-content;
  flex-direction: column;
  place-content: center;
  align-items: flex-end;
  gap: 6px;
}

.jeanneHarris {
  color: #4a5f82;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.photo {
  width: 48px;
  height: 48px;
  overflow: visible;
}

.icon9 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.divider {
  margin-top: 20px;
  max-width: 100%;
  height: 1px;
  max-height: 100%;
  align-self: stretch;
  background-color: #dfe4ec;
}