<div class="pageHeader">
    <div class="leftHeader">
        <div class="pageTitle">Custom Assessments</div>
        <div class="overline">User created Assessments library</div>
    </div>
    <div class="rightHeader"><app-button-type-primary-size-default></app-button-type-primary-size-default></div>
</div>
<div class="breadcrumbs">
    <div class="tableColumnTitle">
        <div class="sTATUS">STATUS</div>
        <div class="icon">⌵</div>
    </div>
    <div class="tableColumnTitle2">
        <div class="sTATUS2">Title</div>
    </div>
    <div class="tableColumnTitle3">
        <div class="sTATUS3">Tests / Questions</div>
    </div>
</div>
<div class="frame8">
    <app-assessment-item-template-state></app-assessment-item-template-state>
    <app-assessment-item-template-state-open></app-assessment-item-template-state-open>
    <app-assessment-item-template-state></app-assessment-item-template-state>
    <app-assessment-item-template-state></app-assessment-item-template-state>
    <app-assessment-item-template-state></app-assessment-item-template-state>
    <app-assessment-item-template-state></app-assessment-item-template-state>
</div>
<div class="filters">
    <div class="leftHeader2"><app-input-size-default></app-input-size-default></div>
</div>
<div class="assessmentsSidebar">
    <div class="sidebar"></div>
    <div class="sidebarItems">
        <app-sidebar-title-type-title></app-sidebar-title-type-title>
        <div class="frame15">
            <div class="sidebarItem">
                <div class="icon2">
                    <div class="icon3">book</div>
                </div>
                <div class="categoryItem">Standard Assessments</div>
            </div>
            <div class="sidebarItem2">
                <div class="icon4">
                    <div class="icon5">pen-to-square</div>
                </div>
                <div class="categoryItem2">Custom Assessments</div>
            </div>
        </div>
        <app-divider-type-horizontal-spaced></app-divider-type-horizontal-spaced>
        <app-sidebar-title-type-title></app-sidebar-title-type-title>
        <div class="filterItems">
            <app-dropdown-size-default-state-default></app-dropdown-size-default-state-default>
            <app-dropdown-size-default-state-default></app-dropdown-size-default-state-default>
            <app-dropdown-size-default-state-default></app-dropdown-size-default-state-default>
        </div>
    </div>
</div>
<div class="assessmentsSidenav">
    <div class="assessmentsSidenav2">
        <div class="sidebar2">
            <div class="sideNavToggleCollapsed">
                <div class="expand"><app-iconstyle-regular-padding-square2></app-iconstyle-regular-padding-square2>
                </div>
            </div>
            <div class="navItems">
                <div class="sideNavItem"><app-iconstyle-regular-padding-square3></app-iconstyle-regular-padding-square3>
                </div>
                <div class="sideNavItem2">
                    <app-iconstyle-regular-padding-square3></app-iconstyle-regular-padding-square3>
                </div>
                <div class="sideNavItem3">
                    <app-iconstyle-regular-padding-square3></app-iconstyle-regular-padding-square3>
                </div>
                <div class="sideNavItem4">
                    <app-iconstyle-regular-padding-square3></app-iconstyle-regular-padding-square3>
                </div>
                <div class="sideNavItem5">
                    <app-iconstyle-regular-padding-square3></app-iconstyle-regular-padding-square3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="topNavigation">
    <div class="leftNav">
        <div class="logo"><img src="assets/logo-icon.svg" alt="" class="icon6" /></div>
        <div class="separator"></div>
        <div class="productName">Assessments Platform</div>
    </div>
    <div class="rightNav">
        <div class="topNavItem">
            <div class="apps"><img src="assets/apps-icon.svg" alt="" class="icon7" /></div>
        </div>
        <div class="topNavItem2">
            <div class="notificationsNew"><img src="assets/notifications-new-icon.svg" alt="" class="icon8" /></div>
        </div>
        <div class="userMenu">
            <div class="name">
                <div class="jeanneHarris">Jeanne Harris</div>
                <app-legal-entity-dropdown></app-legal-entity-dropdown>
            </div>
            <div class="photo"><img src="assets/photo-icon.svg" alt="" class="icon9" /></div>
        </div>
    </div>
</div>