

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  width: 40px;
  height: 40px;
  place-content: center;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}
.content {
  width: min-content;
  height: 18px;
  align-items: center;
}
