<div class="leftContent">
    <div class="status">
      <app-iconstyle-solid-padding-square></app-iconstyle-solid-padding-square>
      <div class="pageTitle">Active</div>
    </div>
    <div class="assessmentTitle">Assessment Title</div>
    <div class="frame6">
      <div class="overline">4</div>
      <div class="overline2">Tests</div>
    </div>
    <div class="frame5">
      <div class="overline3">42</div>
      <div class="overline4">Questions</div>
    </div>
  </div>
  <div class="rightContent">
    <div class="rightSubcontent">
      <app-button-type-primary-size-default2></app-button-type-primary-size-default2>
      <app-more-actions-size-default-stat></app-more-actions-size-default-stat>
    </div>
  </div>
  