<div class="label">Country</div>
<select class="dropdownWrapper">
  <option value="option1">All Countries</option>
  <option value="option2">Kuwait</option>
  <option value="option3">Jordan</option>
</select>

<div class="label">Industry</div>
<select class="dropdownWrapper">
  <option value="option1">All Industries</option>
  <option value="option2">Technology</option>
  <option value="option3">Finance</option>
  <option value="option4">HR</option>
  <option value="option5">Management</option>
</select>

<div class="label">Job family</div>
<select class="dropdownWrapper">
  <option value="">--</option>
  <option value="option1">Blue Collar</option>
  <option value="option2">White Collar</option>
</select>