:host,
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  flex-shrink: 0;
  text-decoration: none;
  min-width: 0;
  overflow-wrap: anywhere;
}

:host,
:not(span, a, ul, ol, li, p) {
  display: flex;
}

ul,
ol {
  text-indent: 0;
  padding-inline-start: 1.5em;
}

p:empty::before {
  content: '';
  display: inline-block;
}

img {
  object-fit: contain;
}

svg {
  overflow: visible;
}

:host {
  width: 980px;
  place-content: space-between;
  align-items: center;

  border-radius: 4px;
  background-color: #ffffff80;
  display: block;
}

.leftContent {
  width: min-content;
  height: 80px;
  align-items: center;
  gap: 40px;
  padding-left: 24px;
}

.leftContent:hover {
  background-color: #ffffff;
  border-radius: 4px;
}

.status {
  width: 80px;
  height: min-content;
  align-items: center;
  gap: 4px;
}

.pageTitle {
  color: #7d92b5;
  font-size: 11px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  text-transform: uppercase;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}

.assessmentTitle {
  color: #4A5F82;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 368px;
  height: min-content;
  flex-direction: column;
}

.leftContent:hover .assessmentTitle {
  color: #384761;
}

.frame6 {
  width: min-content;
  height: 20px;
  align-items: center;
  gap: 4px;
}

.overline {
  color: #4a5f82;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.overlineBold {
  color: #5d75a2;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}

.leftContent:hover .overline {
  color: #384761;
}

.leftContent:hover .overlineBold {
  color: #384761;
}

.frame5 {
  width: min-content;
  height: 20px;
  align-items: center;
  gap: 4px;
}

.rightContent {
  padding-top: 31px;
  padding-bottom: 30px;
  padding-left: 98px;
  height: min-content;
  border-radius: 4px;
}


.rightSubcontent {
  width: min-content;
  height: min-content;
  align-self: flex-start;
  align-items: flex-start;
  gap: 16px;
}

.icon {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.dots {
  padding: 11px 17px;
  border-radius: 4px;
  margin-right: 34px;
  
}

.icon {
  font-size: 20px;
  font-family: Font Awesome 6 Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 20px;
  height: 40px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  width: min-content;
  height: 16px;
  align-items: center;
  gap: 12px;
}

.open-button {
  display: none;
  width: min-content;
  align-items: center;
  padding: 12px 17px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 39px;
  font-size: 14px;
  line-height: 15px;
  font-weight: 500;
  font-family: Rubik, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
  background-color: transparent;
  color: transparent;
  
}

.leftContent:hover #dots-image {
  content: url("/assets/three-dots-hover.svg");
}

.leftContent:hover .dots {
  background-color: #DFECEE;
  
}

.leftContent:hover .open-button {
  background-color: #009999;
  color: #ffffff;
}

.icon:hover #dots-image {
  content: url("/assets/three-dots-active.svg");
}


.icon:hover .dots {
  background-color: #DFE7E9;
}