<div class="leftContent">
  <div class="status">
    <div class="icon"><img src="assets/green-circle.svg" alt="status" class="icon8" /></div>
    <div class="pageTitle">Active</div>
  </div>
  <div class="assessmentTitle">Assessment Title</div>
  <div class="frame6">
    <div class="overlineBold">4</div>
    <div class="overline">Tests</div>
  </div>
  <div class="frame5">
    <div class="overlineBold">42</div>
    <div class="overline">Questions</div>
  </div>
</div>
<div class="rightContent">
  <div class="rightSubcontent">
    <div class="icon"><img class="dots" src="assets/three-dots.svg"/></div>
  </div>
</div>