<div class="leftContent">
  <div class="status">
    <app-iconstyle-solid-padding-square></app-iconstyle-solid-padding-square>
    <div class="pageTitle">Active</div>
  </div>
  <div class="assessmentTitle">Assessment Title</div>
  <div class="frame6">
    <div class="overlineBold">4</div>
    <div class="overline">Tests</div>
  </div>
  <div class="frame5">
    <div class="overlineBold">42</div>
    <div class="overline">Questions</div>
  </div>
</div>
<div class="rightContent">
  <div class="rightSubcontent">
    <app-more-actions-size-default-stat></app-more-actions-size-default-stat>
  </div>
</div>