<table>
  <tbody>
    <tr display="padding: 6px 6px 6px 0;">
      <div class="leftContent" *ngFor="let assessment of assessments">

        <td class="status" *ngIf="assessment.status">
          <div class="icon">
            <img src="assets/green-circle.svg" alt="status" class="icon8" />
          </div>
          <div class="pageTitle">OPEN</div>
        </td>

        <td class="status" *ngIf="!assessment.status">
          <div class="icon">
            <img src="assets/red-circle.svg" alt="status" class="icon8" />
          </div>
          <div class="pageTitle">CLOSED</div>
        </td>

        <td class="assessmentTitle">{{assessment.title}}</td>

        <td class="frame6">
          <div class="overlineBold">{{assessment.tests}}</div>
          <div class="overline">Tests</div>
        </td>

        <td class="frame5">
          <div class="overlineBold">{{assessment.questions}}</div>
          <div class="overline">Questions</div>
        </td>

        <td class="rightContent">
          <button class="open-button"> Open </button>
          <div class="rightSubcontent">
            <div class="icon"><img class="dots" id="dots-image" src="assets/three-dots.svg" />
              <div class="menu-hidden" id="menu-hidden">
                <ul>
                  <li><a class="menu-option"><img class="menu-option-image" src="assets/pencil.svg" />Edit</a>
                  </li>
                  <li><a class="menu-option"><img class="menu-option-image" src="assets/trashcan.svg" />Delete</a></li>
                </ul>
              </div>
            </div>
          </div>
        </td>

      </div>
    </tr>
  </tbody>
</table>